#content{
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-404{
    margin-top: 100px;
    text-align: center;
    padding: 10em 20em;
    box-shadow: 0 0 5px 2px rgba($primary, 0.25);
    h1{
        font-weight: 800;
        font-size: 12rem;
        color: $primary;
    }
    .description{
        p{
            color: $black;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            span{
                font-weight: 800;
                margin-top: 10px;
            }
        }
    }
}