.buttons{
    margin-top: 2em;
    .button{
        background: $primary;
        border-radius: 4px;
        padding: .75em 1.25em;
        font-size: 1rem;
        font-weight: 600;
        color: $black;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .3s ease;
        
        &:hover{
        background: $tree-poppy;
            color: $white;
        }
    }
}