.page-template-custom-cart {
    .woocomerece {
        @include media-breakpoint-up(lg) {
        min-width: 1140px;

        }
    }

    .custom-cart {
        background-color: #f4f4f4;
        border-radius: 40px;
        padding: 2em;

        table {
            border: 0;

            th {
                border: 0;
                text-align: center;
                color: #d0d0d0;
            }

            tr {
                border: 0;

                td {
                    border: 0;

                    &.actions {
                        display: none;
                    }

                    &.product-subtotal {
                        text-align: center;
                    }

                    &.product-name {
                        a {
                            text-decoration: none;
                            font-size: 1.75rem;
                            color: black;
                            cursor: none;
                            margin-bottom: .35em;
                        }

                        dt {
                            color: darken(#d0d0d0, 10%);
                            font-size: 1rem;
                            font-weight: 400;
                        }
                    }
                }
            }

            input {
                -moz-appearance: textfield;
                margin: 0;
                border: 0;
                background: transparent;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        .woocommerce-checkout table.cart th {
            text-align: center;
        }

        .wac-quantity {
            display: flex;
            align-content: center;
            justify-content: center;
            overflow: hidden;


            .wac-qty-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                padding: 0;
                background-color: lighten(#d0d0d0, 5%);
                transition: all .3s ease;

                a {
                    text-decoration: none;
                    font-size: 1.75rem;
                    margin: 0;
                    padding: 2em;
                    color: $white;
                }

                &:hover {
                    background-color: $primary;
                }
            }
        }
    }

    // button color : #d0d0d0;
    .woocommerce-info {
        display: none;
    }

    .woocommerce table.shop_table {
        border: 0;

        td {
            border: 0;
        }
    }

    #customer_details {
        margin-top: 3em;
    }
}