.page-template-custom-cart {
    #billing_country_field {
        display: none;
    }

    .entry-header {
        display: none;
    }

    section.description {
        min-height: auto;
        margin-top: 3em;
    }

    .woocomerece {
        @include media-breakpoint-up(lg) {
            min-width: 1140px;

        }
    }

    .custom-cart {
        background-color: #f4f4f4;
        border-radius: 40px;
        padding: 2em;

        table {
            border: 0;

            th {
                border: 0;
                text-align: center;
                color: #d0d0d0;
            }

            tr {
                border: 0;

                td {
                    border: 0;

                    &.actions {
                        display: none;
                    }

                    &.product-subtotal {
                        text-align: center;
                    }

                    &.product-name {
                        a {
                            text-decoration: none;
                            font-size: 1.75rem;
                            color: black;
                            cursor: default;
                            margin-bottom: .35em;
                            pointer-events: none;
                        }

                        &:before {
                            content: '';
                            background-color: green;
                            display: none;
                        }

                        dt {
                            color: darken(#d0d0d0, 10%);
                            font-size: 1rem;
                            font-weight: 400;
                        }
                    }

                    @include media-breakpoint-down(md) {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        span,
                        div {
                            width: fit-content;
                            margin-left: auto;
                        }
                    }
                }
            }

            input {
                -moz-appearance: textfield;
                margin: 0;
                border: 0;
                background: transparent;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        .woocommerce-checkout table.cart th {
            text-align: center;
        }

        .wac-quantity {
            display: flex;
            align-content: center;
            justify-content: center;
            overflow: hidden;


            .wac-qty-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                padding: 0;
                background-color: lighten(#d0d0d0, 5%);
                transition: all .3s ease;

                a {
                    text-decoration: none;
                    font-size: 1.75rem;
                    margin: 0;
                    padding: 2em;
                    color: $white;
                }

                &:hover {
                    background-color: $primary;
                }
            }
        }
    }

    .woocommerce-info {
        display: none;
    }

    .woocommerce table.shop_table {
        border: 0;

        td {
            border: 0;
        }

        &.woocommerce-checkout-review-order-table {
            display: none;
        }
    }

    #order_review_heading {
        display: none;
    }

    #customer_details {
        margin-top: 3em;
    }
    .woocommerce-table__line-item.order_item{
        a{
            pointer-events: none;
        }
    }
}

.woocommerce-billing-fields {
    h3 {
        padding: 0 .75em;

        margin-bottom: 1em;
    }

    .billing-wrapper,
    .shipping-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 3em;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }

        h3 {
            padding: 0 .75em;
            margin-bottom: 1em;
        }

        .shipping-wrapper-fields {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            @include media-breakpoint-down(sm) {
                flex-direction: column;
            }
        }

        p {
            flex: 1 0 50%;
            max-width: 50%;
            padding: 0 1em;
            margin-bottom: 1em;
            
            &#dinner_time_slot_field,
            &#lunch_time_slot_field{
                // display: none;
                &.show-elem{
                    display: block;
                }
            }

            @include media-breakpoint-down(sm) {
                flex: 1 0 100%;
                max-width: 100%;
                width: 100%;
            }

            label {
                display: none;
            }

            input,
            select {
                border-radius: 5px;
                padding: 26px 26px;
                font-size: 1rem;

                &:focus,
                &:hover,
                &:active {
                    box-shadow: none;
                }
            }

            .select2-container {
                width: 100% !important;

                .select2-selection__clear {
                    display: none;
                }
            }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                top: 15px;
                right: 10px;
            }

            .select2-container--default .select2-selection--single {
                border-radius: 5px;
                padding: 12px 14px;
                font-size: 1rem;
                height: auto;
                border: 1px solid #ced4da;

                &:focus,
                &:hover,
                &:active {
                    box-shadow: none;
                }
            }
        }

        .field-wrapper {
            display: flex;

            @include media-breakpoint-down(sm) {
                flex-direction: column;
            }

            @include media-breakpoint-up (md) {
                flex: 1 0 50%;
                padding: 0 1em;
                margin-bottom: 1em;

                p {
                    padding: 0;
                    margin: 0;

                    label {
                        display: none;
                    }

                    &#billing_first_name_field {
                        span {
                            position: relative;

                            &:after {
                                display: block;
                                content: '';
                                position: absolute;
                                top: 10px;
                                right: 0;
                                height: 35px;
                                width: 1px;
                                background-color: #d0d0d0;
                            }
                        }

                        input {
                            border-right: 0;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                    }

                    &#billing_last_name_field {
                        input {
                            border-left: 0;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;

                        }
                    }
                }
            }

        }
    }
}

.woocommerce-checkout #payment {
    background: transparent;
    text-align: center;
    max-width: 550px;
    margin: 0 auto;

    .place-order {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wc_payment_methods.payment_methods.methods {
        display: none;
    }

    p {
        text-align: center;
        display: block;
        font-size: .85rem;
        font-weight: 300;
        color: darken(#d0d0d0, 35%);
        margin-bottom: 0;

    }

    .woocommerce form .form-row label.checkbox,
    .woocommerce-page form .form-row label.checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wc_ppec_responsive_payment_buttons {
        margin-top: 1.5em;
    }
}