section.description {
    min-height: 450px;
    text-align: center;

    .data {
        padding: 0 3em;

        h2 {
            font-weight: 600;
            font-size: 2.2rem;
            margin-bottom: .75em;
            text-transform: uppercase;
        }

        p {
            text-align: center;
        }
    }

    .data-images {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 3em;

        .single-image {
            flex: 0 1 50%;
            padding: 0 2em;

            @include media-breakpoint-down (md) {
                flex: 0 1 100%;

                &:last-of-type {
                    margin-top: 2em;

                }
            }
        }
    }
}