section.description {
    min-height: 450px;
    text-align: center;

    .data {
        padding: 0 1em;

        h2 {
            font-weight: 600;
            font-size: 2.2rem;
            margin-bottom: .75em;
            text-transform: uppercase;
        }

        p {
            text-align: center;
        }
    }
}