#wrapper-footer {
    padding: 30px 0;
    min-height: 150px;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .legal-elem {
        a {
            color: $white;
            text-decoration: none;
            transition: all .3s ease;

            &:hover {
                color: $black;
            }
        }

        margin-bottom: .75em;

        &:after {
            content: '';
            display: block;
            max-width: 450px;
            height: 1px;
            margin: 0 auto;
            background-color: $white;
            margin-top: .75em;
        }
    }

    .social-links {
        color: $white;

        h2 {
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: .5em;
        }

        a {
            color: $white;
            transition: all .3s ease;

            i {
                font-size: 1.5rem;
                margin-right: 10px;
            }

            &:hover {
                color: $black;
            }
        }
    }
}