#wrapper-navbar {
    background-color: $primary;

    &.isHomepage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        background-color: transparent ;
    }

    .logo-col {
        max-width: 300px;
        margin: 0 auto;
    }
}