section.two-columns{
    min-height: 450px;
    margin-bottom: 0;
    .image-col{
        min-height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    
    }
    .data-col{
        min-height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .data{
            padding: 0 3em;
            h2{
                margin-bottom: .75em;
            }
        }
        .buttons{
            padding: 0 3em;
        }
    }
    .row{
        .col-md-6{
            padding: 0;
        }
        &.row-reverse{
            @include media-breakpoint-up (md){
                flex-direction: row-reverse;
            }
        }
    }
}