// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body{
    overflow-x: hidden;
    font-family: 'Roboto Slab', serif;
}

section{
    margin: 0 -15px 100px;
}

main{
    width: 100%;
}